[Desktop Entry]
Author=Moritz Lüdecke
AuthorEmail=ritze@skweez.net
Description=A fork from the Material theme for KMail's email headers
FileName=header.html
Name=Material Reloaded
ThemeVersion=0.1
